{% extends 'base.html.twig' %}
{% block title 'Gérer les biens' %}


{% block body %}
    <div class="container mt-4">
        <h1 class="gererbien">Gérer mes biens immobiliers ✍</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4 class="text-center messageFlash">{{message}} ✍ </h4>
            </div>
        {% endfor %}

    <div class="container message-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore est placeat tenetur voluptates, odit quos harum sunt, quam nostrum, perferendis vel nihil iusto repellendus optio temporibus quae numquam obcaecati maxime.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nihil illum perferendis ducimus voluptates sed quod, praesentium architecto possimus maxime. Nesciunt ea iste officia inventore labore doloribus reiciendis quas aperiam!
    </div>
        <h1 class= "last-biens"> Les publications de {{app.user.username}} ({{app.user.properties| length}})</h1>
        <table class="table ">
            <thead class="table-dark">
                <tr>
                    <td>Titre</td>
                    <td>Surface</td>
                    <td>Chambres</td>
                    <td>Pièces</td>
                    <td>Etage</td>
                    <td>Chauffage</td>
                    <td>Prix</td>
                    <td>Ville</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody class="table-info table-hover table-bordered">
			{% for property in app.user.properties %}
                <tr>
                    <td>{{ property.title}}</td>
                    <td>{{ property.surface}}</td>
                    <td>{{ property.rooms}}</td>
                    <td>{{ property.bedrooms}}</td>
                    <td>{{ property.floor}}</td>
                    <td>{{ property.heatType}}</td>
                    <td>{{ property.price}}</td>
                    <td>{{ property.city}}</td>
                    <td>
                        <a href="{{path('admin.property.edit', {id: property.id}) }}" class="btn btn-primary" rel="editer un bien">Modifier</a>
                        <form method="POST" action="{{ path('admin.property.delete', {id: property.id}) }}" style="display: inline-block" onsubmit=" return confirm('Êtes vous sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
 
        <div class="text-right">
            <a  href="{{ path('admin.option.new') }}" class="btn btn-primary">Ajouter les options</a>
            <a href="{{ path('admin.property.new') }}" class="btn btn-info">Créer un nouveau bien</a>
        </div>
    </div>

{% endblock %}

